.about-image {
    background-image: url(../assets/home-2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    display: flex;
    flex-wrap: wrap-reverse;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5.5rem;

        h2 {
            font-size: 2rem;
            position: relative;
            padding-bottom: 5rem;

                &::after {
                    content: '';
                    background-color: $button-color;
                    height: 4px;
                    width: 6rem ;
                    position: absolute;
                    left: 42%;
                    bottom: 2.7rem;
                }    
        }
        
        p {
            padding-bottom: 4rem;
        }

}

.box {
    // width: calc(100% / 2);
    flex: 1 0 50%;
    min-width: 475px;
}

.box img {
    visibility: hidden;
}
