html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "lora", sans-serif;
  color: #333;
  letter-spacing: .14rem;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hr-bottom {
  border-bottom: #333 2px solid;
  padding-top: 5px;
}

.button {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .03rem;
  line-height: 3.6rem;
  font-family: "raleway", sans-serif;
  color: #f6f6f6;
  text-transform: uppercase;
  background-color: #64a604;
  display: inline-block;
  padding: .7rem 2.3rem;
  border: 2px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover, .button:focus {
  color: #2e2e2e;
  border: 2px solid #64a604;
}

.button:active {
  background-color: #fff;
  border: 2px solid #64a604;
}

.home header {
  background-image: url("../assets/home-1.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.blog header {
  background-image: url("../assets/blog-1.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.contact header {
  background-image: url("../assets/contact-1.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
}

.header-nav .logo {
  font-size: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.header-nav li a {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-nav li a:hover, .header-nav li a:focus {
  color: #64a604;
}

.header-nav li a:active {
  color: #DC1570;
}

header i.fa-bars {
  position: absolute;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1;
  color: #64a604;
  visibility: hidden;
  font-size: 4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

header i.fa-bars:hover, header i.fa-bars:focus {
  color: #8f6f0b;
}

header i.fa-bars:active {
  color: #DC1570;
}

.about-image {
  background-image: url(../assets/home-2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 5.5rem;
}

.about-info h2 {
  font-size: 2rem;
  position: relative;
  padding-bottom: 5rem;
}

.about-info h2::after {
  content: '';
  background-color: #64a604;
  height: 4px;
  width: 6rem;
  position: absolute;
  left: 42%;
  bottom: 2.7rem;
}

.about-info p {
  padding-bottom: 4rem;
}

.box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  min-width: 475px;
}

.box img {
  visibility: hidden;
}

.recipes-image {
  background-image: url(../assets/home-3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f2f2f2;
}

.recipes-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.8rem;
}

.recipes-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.recipes-nav ul li {
  width: calc(100% / 2);
  position: relative;
  padding: 0 2rem;
}

.recipes-nav ul li a:hover,
.recipes-nav ul li a:focus {
  color: #64a604;
}

.recipes-nav ul li a:active {
  color: #DC1570;
}

.recipes-nav ul .recipe-icon {
  font-size: 2.5rem;
  position: absolute;
  left: -1.6rem;
}

.recipes-nav ul p {
  font-size: 1rem;
}

.restaurants {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants-image {
  position: relative;
}

.restaurants-image .circle-logo {
  position: absolute;
  top: -117px;
  right: -82px;
}

.restaurants-info {
  text-align: center;
}

.restaurants-info h2 {
  padding: 4rem 0;
  position: relative;
}

.restaurants-info h2::after {
  content: '';
  background-color: #64a604;
  height: 4px;
  width: 6rem;
  position: absolute;
  left: 47%;
  bottom: 2.4rem;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 3);
          flex: 1 0 calc(100% / 3);
  min-width: 300px;
}

.featured-review {
  background-color: #DDED9A;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10rem;
}

.review h2 {
  font-size: 2.5rem;
  padding: 3.5rem 0;
  position: relative;
}

.review h2::after {
  content: '';
  background-color: #64a604;
  height: 4px;
  width: 6rem;
  position: absolute;
  left: 46.3%;
  bottom: 1.4rem;
}

.review blockquote {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 700;
  color: #333;
  position: relative;
}

.review blockquote .left-quotes,
.review blockquote .right-quotes {
  position: absolute;
  font-size: 3.3rem;
  color: #f6f6f6;
}

.review blockquote .left-quotes {
  top: -1.5rem;
  left: -4.1rem;
}

.review blockquote .right-quotes {
  bottom: .3rem;
  right: -4.1rem;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  color: #999;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.arrows h4 a {
  font-size: 2rem;
  padding: 0 2rem;
}

.arrows h4 a:hover, .arrows h4 a:focus {
  color: #ffffff;
}

.arrows h4 a:active {
  color: #DC1570;
}

footer {
  background-color: #2a2a2a;
  position: relative;
  padding: 10rem 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #333;
}

.footer-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 3);
          flex: 1 0 calc(100% / 3);
  min-width: 290px;
  padding: 0 5rem;
}

.footer-box p {
  padding: 1rem 0;
  color: #9a9a9a;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-box p a:hover,
.footer-box p a:focus {
  color: #64a604;
}

.footer-box p a:active {
  color: #DC1570;
}

.footer-box .logo-2 {
  font-size: 2.6rem;
  color: #64a604;
}

.footer-box .footer-header {
  font-size: 1.6rem;
  color: #f6f6f6;
}

.footer-box .logo-2,
.footer-box .footer-header {
  padding-bottom: 3rem;
}

.email-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5rem;
}

.email-sub form {
  padding: 0;
  height: 4rem;
  width: 100%;
}

.email-sub form input[type="text"] {
  border: none;
  background-color: #525252;
  color: #9a9a9a;
  padding-left: 1rem;
  width: 90%;
}

.email-sub form .footer-sub-button {
  width: 5rem;
  background-color: #64a604;
  position: relative;
}

.email-sub form a i.fa-long-arrow-alt-right {
  position: absolute;
  top: 0.8rem;
  right: 1.1rem;
  font-size: 2.3rem;
  color: #f6f6f6;
  -webkit-transition: all .2;
  transition: all .2;
}

.email-sub form a i.fa-long-arrow-alt-right:hover, .email-sub form a i.fa-long-arrow-alt-right:focus {
  color: #DDED9A;
}

.email-sub form a i.fa-long-arrow-alt-right:active {
  color: #DC1570;
}

.footer-socials-nav {
  padding-top: .4rem;
}

.footer-socials-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials-nav ul li a {
  color: #f6f6f6;
  font-size: 1.5rem;
  padding-right: 1.5rem;
}

.footer-socials-nav ul li a:hover, .footer-socials-nav ul li a:focus {
  color: #64a604;
}

.footer-socials-nav ul li a:active {
  color: #DC1570;
}

.copyright {
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 5rem;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 8rem;
  color: #9a9a9a;
  font-family: "raleway", sans-serif;
}

.copyright span {
  color: #64a604;
  text-transform: uppercase;
}

.copyright span span.secret-dot {
  color: #8f6f0b;
}

.blog-title h1 {
  font-size: 3rem;
  padding: 15rem 0 1rem 0;
}

.blog-title p {
  font-weight: 700;
  font-size: 1rem;
  font-family: "raleway", sans-serif;
  padding-bottom: 3rem;
}

.blog-content ul li {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.blog-tags {
  padding: 2rem 0;
}

.blog-tags .blog-socials li a {
  font-size: 1.6rem;
}

.blog-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

.blog-tags ul li a {
  padding-left: 1rem;
  color: #666666;
}

.blog-tags ul li a:hover, .blog-tags ul li a:focus {
  color: #64a604;
}

.blog-tags ul li a:active {
  color: #DC1570;
}

.blog-tags h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "raleway", sans-serif;
}

.feat-blogger {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 80%;
      grid-template-columns: 15% 80%;
  padding-bottom: 2rem;
}

.feat-blogger .blogger-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 4rem;
  background-color: #f6f6f6;
}

.feat-blogger .blogger-info h3 {
  padding-bottom: 1.5rem;
}

.feat-blogger .blogger-image {
  margin-right: 2rem;
}

.related-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.related-posts h2 {
  padding: 3rem 0;
}

.related-posts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.related-posts ul li:nth-last-of-type(2) {
  margin: 0 2rem;
}

.related-posts ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc((100% / 3) - 4rem);
          flex: 1 0 calc((100% / 3) - 4rem);
  min-width: 250px;
}

.related-posts ul li h2 {
  font-size: 1.7rem;
  padding: 1rem;
}

.related-posts ul li p {
  padding-bottom: 3rem;
}

.comments-header {
  padding: 2rem 0;
}

.user-comments-box ul {
  padding: 2.5rem 0;
}

.user-comments-box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

.commenter .commenter-image {
  padding-right: 2rem;
}

.commenter .comment-box {
  background-color: #f6f6f6;
  padding: 2rem;
  position: relative;
}

.commenter .comment-box .user-name span,
.commenter .comment-box .user-post-date {
  font-weight: 700;
  font-family: "raleway", sans-serif;
}

.commenter .comment-box .user-comment {
  padding: 1rem 0;
}

.commenter .comment-box .comment-box-tip {
  color: #f6f6f6;
  font-size: 3.6rem;
  position: absolute;
  top: 9px;
  left: -9px;
}

.blog .hr-bottom {
  border-bottom: #333 solid 0.1rem;
}
